<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<p>ユーザ登録画面</p>

	<form action="/users" th:action="@{/users}" th:object="${form}" method="POST">
		<label for="account">アカウントID</label>
		<input type="text" name="account" th:field="*{account}" /><br />

		<label for="name">名前</label>
		<input type="text" name="name" th:field="*{name}" /><br />

		<label for="rawPassword">パスワード</label>
		<input type="password" name="rawPassword" th:field="*{rawPassword}" /><br />

        <label for="branch">支店</label>
		<select name="branch" id = "*{branch}">
			<option th:each="br: ${branches}" th:value="${br.id}"
				th:selected="${br.id == form.branch}" th:inline="text">[[${br.branchName}]]</option>
		</select><br>

		<label for="position">部署・役職</label>
		<select name="position" id = "*{position}">
			<option th:each="po: ${positions}" th:value="${po.id}"
				th:selected="${po.id == form.position}" th:inline="text">[[${po.positionName}]]</option>
		</select><br>

		<input type="submit" value="登録">
	</form>
</body>
</html>