<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザ管理システム</title>
</head>
<body>
	<p>ユーザ管理システム</p>
	<a th:href="@{/users/create}">新規登録</a>
	<table>
		<tr th:each="user: ${users}">
			<td th:text="${user.account}"></td>
			<td th:text="${user.name}"></td>
			<td th:text="${user.password}"></td>
			<td th:text="${user.branchName}"></td>
			<td th:text="${user.positionName}"></td>
			<td>
			<form action="users/edit" method="get">
				<input type="submit" value="編集">
    	        <input type="hidden" name="id" th:value="${user.id}">
            </form>
		</tr>
	</table>
</body>
</html>